/* Global variables / theme configuration / layout resets */
:root {
  /* grayscale */
  --black: #262626;
  --gray: #999999;
  --light-gray: #bfbfbf;
  --white: #d9d9d9;

  /* light-theme */
  --surface-100: #fff2d7;
  --surface-200: #ffe0b5;
  --surface-300: hsl(31, 88%, 78%);
  --surface-400: #d8ae7e;

  --main-bg: var(--surface-100);
  --secondary-bg: var(--surface-200);
  --main-border: var(--surface-300);
  --secondary-border: var(--surface-400);
  --layout-border: var(--surface-300);
  --dashed-border: var(--surface-400);
  --text: var(--black);
  --text-completed: var(--light-gray);
  --theme-icon: var(--black);
  --todo-svg-stroke: var(--surface-400);
  --todo-svg-fill: var(--surface-200);
  --box-shadow: var(--main-border);

  /* categories */
  --cat0: #f2e3c9;
  --cat1: #f3a08b;
  --cat2: #b7a3e3;
  --cat3: #a6d6d6;
  --cat4: #cadcae;

  /* padding */
  --p-md: 1.25rem;
  --p-rg: 1rem;
  --p-sm: 0.75rem;
  --p-xs: 0.63rem;

  /* fonts */
  --fw-md: 500;
  --fw-rg: 400;
  --fw-lt: 300;
  --fs-xxl: 3.38rem;
  --fs-xl: 2.63rem;
  --fs-lg: 1.31rem;
  --fs-md: 1rem;
  --fs-sm: 0.88rem;
  --fs-xs: 0.69rem;

  /* other */
  --text-placeholder: var(--gray);
  --text-cat: var(--black);
  --red: #ef4b4b;
  --radius: 0.63rem;
  --gap: 0.75rem 0.63rem;
}
.dk-theme {
  /* --surface-100: #dbe5e3;
  --surface-200: #86899c;
  --surface-300: #3f4452;
  --surface-400: #272e38;

  --surface-100: #d0e6f0;
  --surface-200: #8ba3b5;
  --surface-300: #3c4a5c;
  --surface-400: #212a36; */

  --surface-100: #d6e6ee;
  --surface-200: #8fa2b1;
  --surface-300: #3f4a58;
  --surface-400: #232a33;

  --main-bg: var(--surface-400);
  --secondary-bg: var(--surface-300);
  --main-border: var(--surface-300);
  --secondary-border: var(--surface-200);
  --layout-border: var(--surface-200);
  --dashed-border: var(--surface-100);
  --text: var(--white);
  --text-completed: var(--surface-300);
  --theme-icon: var(--white);
  --todo-svg-stroke: var(--surface-100);
  --todo-svg-fill: var(--surface-300);
  --box-shadow: var(--surface-400);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: var(--fs-md);
  font-weight: var(--fw-rg);
  color: var(--text);
  background-color: var(--secondary-bg);
  /* Thins out text on macOS (or else it's too bold) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make form elements inherit styles from their parent */
input,
textarea,
button,
select {
  font: inherit;
  background-color: transparent;
  color: inherit;
}

/* Selection color */
::selection {
  background-color: var(--main-border);
}

/* Media queries */
@media (width <= 38.5rem) {
  :root {
    --fs-xxl: var(--fs-xl);
    --fs-md: var(--fs-sm);
  }

  body {
    letter-spacing: 0.01rem;
  }
}
