/* Main layout */
.new-todo-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto auto;
  grid-template-areas:
    "new-todo-text  new-todo-text"
    "category       due-date"
    "select         pick-a-day"
    "add            add";
  gap: var(--gap);
  height: 100%;
}

/* Textarea */
.new-todo-text {
  grid-area: new-todo-text;
  width: 100%;
  margin-bottom: 1rem;
  padding: var(--p-xs);
  border-radius: var(--radius);
  border: 2px dashed var(--dashed-border);
  background-color: var(--main-bg);
  resize: none;
}
.new-todo-text:focus {
  outline: 2px solid var(--secondary-border);
  outline-offset: 2px;
}

/* Base styles for inputs and wrappers */
.new-todo-category-wrapper,
.new-todo-dd-wrapper,
.new-todo-add,
.date-overlay {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  border-radius: var(--radius);
  background-color: var(--main-bg);
}
.new-todo-category-wrapper,
.new-todo-dd-wrapper,
.new-todo-add {
  border: 1px solid var(--secondary-border);
  cursor: pointer;
}
.new-todo-category,
.new-todo-dd {
  /* new-todo-dd hidden behind date overlay */
  appearance: none;
  padding: 0;
  border: 0;
  cursor: inherit;
  flex: 1;
}

/* Category */
.new-todo-category-label {
  grid-area: category;
}
.new-todo-category-wrapper {
  grid-area: select;
  position: relative;
}
/* Absolute position is used to make the entire wrapper is clickable */
.new-todo-category {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-inline: var(--p-xs);
}
.new-todo-category option {
  padding: 5px;
}

.new-todo-category-wrapper svg {
  position: absolute;
  right: var(--p-xs);
  pointer-events: none; /* Allow click to go through the icon to target the wrapper */
}
.dk-theme .new-todo-category option {
  background-color: var(--surface-400);
  color: var(--white);
}

/* Due date */
.new-todo-dd-label {
  grid-area: due-date;
}
.new-todo-dd-wrapper {
  grid-area: pick-a-day;
  position: relative;
  overflow: hidden;
}
/* Custom layer on top of the native date input to style "Pick a day" */
.date-overlay {
  position: absolute;
  padding-inline: var(--p-xs);
  pointer-events: none;
}
.new-todo-dd {
  width: 100%;
  height: 100%;
}

/* Add */
.new-todo-add {
  grid-area: add;
  display: block;
  height: 3.75rem;
  text-align: center;
}

/* media queries */
@media (width <= 38.5rem) {
  .new-todo-form {
    grid-template-rows: 13.5rem auto auto auto;
  }

  .new-todo-text {
    line-height: 1.5;
  }
}

@media (orientation: landscape) and (height <= 38.5rem) {
  .new-todo-form {
    /* Reduce the first row (textarea) from 13.5rem to something smaller */
    grid-template-rows: 10rem auto auto auto;
    height: auto;
  }
}
