/* Main layout */
.layout-todo {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  grid-template-rows: minmax(0, 1fr) auto;
  grid-template-areas:
    "new-todo  todo-list"
    ".         todo-list-footer";
  gap: 0.75rem 1rem;
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
}

/* Left side */
.layout-new-todo {
  grid-area: new-todo;
  padding: var(--p-xl) var(--p-md) var(--p-lg);
  border-radius: var(--radius);
  border: 1px solid var(--layout-border);
  background-color: var(--secondary-bg);
  overflow-y: auto;
  scrollbar-width: none;
}

/* Right side */
.layout-todo-list {
  grid-area: todo-list;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--p-xl) var(--p-md) 0;
  border-radius: var(--radius);
  border: 1px solid var(--layout-border);
  background-color: var(--secondary-bg);
  overflow-y: auto;
  scrollbar-width: none;
}
.layout-todo-footer {
  grid-area: todo-list-footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Bin */
.bin-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.layout-bin {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
.layout-bin-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Selection color adjustment */
.layout-bin-footer button::selection,
.layout-bin-footer span::selection,
.layout-bin-footer p::selection {
  background-color: var(--secondary-border);
}

/* Media queries */

@media (width <= 48rem) {
  .layout-todo {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "new-todo"
      "todo-list"
      "todo-list-footer";
    gap: 1rem;
    overflow-y: visible;
  }
  .layout-new-todo {
    overflow-y: visible;
  }
  .layout-todo-list {
    overflow-y: visible;
  }
}
