/* Theme icon */
#theme {
  all: inherit;
  outline: revert;
  box-sizing: border-box;
  position: absolute;
  top: var(--p-xl);
  right: var(--p-xl);
  cursor: pointer;  
  transition: translate 200ms;
}
#theme:active {
  translate: 2px 2px;
}
#theme svg {
  margin: -4px;
  fill: var(--theme-icon);
}

/* Media queries */

@media (width <= 66rem) {
  #theme {
    top: 1rem;
    right: 1rem;
  }
}
