/* Categories  */
.todo-categories {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  padding-right: 1rem;
}
.todo-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12.5rem;
  max-width: 100%;
  height: 3rem;
  padding-left: var(--p-xs);
  border-radius: var(--radius);
  border: 1px solid var(--secondary-border);
  color: var(--text-cat);
  overflow: hidden;
  cursor: pointer;
}
.category-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding-left: var(--p-rg);
  padding-right: var(--p-sm);
}
.category-count::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 75%;
  width: 1px;
  background-color: var(--text-cat);
  transform: translateY(-50%);
}
/* Added "todo-category" for higher specificity - or else .btn's all: unset overrides */
/* Ensure the input looks like the button when editing */
.todo-category .category-name,
.todo-category .category-edit {
  all: unset;
  flex-grow: 1;
  min-width: 0;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo-category button::selection,
.todo-category input::selection {
  color: var(--text);
  background-color: var(--secondary-border);
}

/* Todo list */
.todo-list-wrapper {
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-border) transparent;
  height: 38.75rem;
}
.todo-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin-block: 0;
  padding: 0 0.5rem var(--p-md) 0;
}
.todo-list-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38.75rem;
  margin-bottom: 1.25rem;
  margin-right: calc(0.5rem + var(--gap));
  border-radius: var(--radius);
  border: 2px dashed var(--secondary-border);
  overflow-y: unset; /* Prevents the scrollbar from trying to take space on the right and ruining the border radius */
}
.todo-list-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  text-align: center;
  color: var(--secondary-border);
}
.placeholder-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
}
.placeholder-instructions {
  width: 14rem;
}

/* Todo items */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  padding: var(--p-md);
  border-radius: var(--radius);
  background-color: var(--main-bg);
  box-shadow: 0rem 0.1rem 0.15rem var(--box-shadow);
}
.todo-item svg {
  display: block;
  flex-shrink: 0;
}
.checkbox-text {
  display: flex;
  align-items: center;
  gap: var(--gap);
  flex-grow: 1;
}
.todo-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.todo-text {
  flex-grow: 1;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}
.todo-edit {
  all: unset;
  display: block;
  box-sizing: border-box;
  scrollbar-width: thin;
}
.todo-dd {
  margin-top: 0.25rem;
}
.todo-item-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.63rem;
}
/* Colors for todo items based on the categories */
.todo-item.cat0,
.todo-item--bin.cat0 {
  border: 1px solid var(--cat0);
  border-left: 1.25rem solid var(--cat0);
}
.todo-item.cat1,
.todo-item--bin.cat1 {
  border: 1px solid var(--cat1);
  border-left: 1.25rem solid var(--cat1);
}
.todo-item.cat2,
.todo-item--bin.cat2 {
  border: 1px solid var(--cat2);
  border-left: 1.25rem solid var(--cat2);
}
.todo-item.cat3,
.todo-item--bin.cat3 {
  border: 1px solid var(--cat3);
  border-left: 1.25rem solid var(--cat3);
}
.todo-item.cat4,
.todo-item--bin.cat4 {
  border: 1px solid var(--cat4);
  border-left: 1.25rem solid var(--cat4);
}

/* Footer */
.todo-count {
  margin-block: 0;
  padding-bottom: 2.25rem;
}
.todo-footer-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
  margin-left: auto;
}

/* Bin */
.bin-list-wrapper {
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-border) transparent;
  height: 38.75rem;
}
.bin-list {
  flex-grow: 1;
  min-height: 0;
}
.bin-list-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: var(--radius);
  border: 2px dashed var(--secondary-border);
  overflow-y: unset; /* Prevents the scrollbar from trying to take space on the right and disrupting the border radius */
}
.bin-list-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  height: auto;
  text-align: center;
  color: var(--secondary-border);
}
.bin-list-placeholder svg {
  margin-bottom: 0.25rem;
}
.bin-list-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Media queries */
@media (width <= 86rem) {
  .todo-categories {
    padding-right: 0.5rem;
  }
  .todo-footer-actions {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (orientation: portrait) and (height <= 86rem) {
  /* Keep centered on tablet: portrait */
  .todo-footer-actions {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (width <= 38.5rem) {
  .todo-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
  }
  .todo-category {
    display: flex;
    width: 100%;
    height: 2.75rem;
  }
  .todo-list-wrapper {
    min-height: 55vh;
    max-height: 75vh;
  }
  .todo-list-empty {
    height: 100%;
  }
  .todo-item {
    padding: var(--p-rg) var(--p-sm);
  }
  .todo-text {
    line-height: 1.3;
  }
  /* Thinner border */
  .todo-item.cat0,
  .todo-item--bin.cat0 {
    border-left: 1rem solid var(--cat0);
  }
  .todo-item.cat1,
  .todo-item--bin.cat1 {
    border-left: 1rem solid var(--cat1);
  }
  .todo-item.cat2,
  .todo-item--bin.cat2 {
    border-left: 1rem solid var(--cat2);
  }
  .todo-item.cat3,
  .todo-item--bin.cat3 {
    border-left: 1rem solid var(--cat3);
  }
  .todo-item.cat4,
  .todo-item--bin.cat4 {
    border-left: 1rem solid var(--cat4);
  }
}

@media (orientation: landscape) and (height <= 38.5rem) {
  .todo-list-wrapper {
    min-height: 55vh;
    max-height: 75vh;
  }
}
