/* Headings */
h1,
h2 {
  text-align: center;
}
h1 {
  margin-top: 3rem;
  margin-bottom: var(--p-xl);
  font-size: var(--fs-xxl);
  font-weight: var(--fw-md);
}
h2 {
  margin-bottom: 1rem;
  font-size: var(--fs-xl);
  font-weight: var(--fw-md);
}

/* Main text */
.text-lg-bold {
  line-height: 1.2;
  font-size: var(--fs-lg);
  font-weight: var(--fw-md);
}
.text-md-bold {
  font-size: var(--fs-md);
  font-weight: var(--fw-md);
}
.text-md {
  font-size: var(--fs-md);
  font-weight: var(--fw-rg);
}
.text-md-bold {
  font-size: var(--fs-md);
  font-weight: var(--fw-md);
}
.text-sm {
  font-size: var(--fs-sm);
  font-weight: var(--fw-rg);
}
.text-sm-bold {
  font-size: var(--fs-sm);
  font-weight: var(--fw-md);
}
.text-xs {
  letter-spacing: -0.01rem;
  font-size: var(--fs-xs);
  font-weight: var(--fw-rg);
}

/* Miscellaneous  */
.placeholder {
  color: var(--text-placeholder);
  font-size: var(--fs-md);
  font-weight: var(--fw-rg);
}
.past-due {
  color: var(--red);
}
.is-completed {
  color: var(--text-completed);
  text-decoration: line-through;
}

/* Media queries */

@media (width <= 66rem) {
  h2 {
    margin-bottom: 0.75rem;
  }
  .text-sm {
    letter-spacing: -0.01rem;
  }
}
